{% extends 'base.html' %}
{% block content %}
        
            
        
            
        
        
        
<ul class="collapsible" data-collapsible="expandable">
    {% for task in tasks %}
    <li>
        <div class="collapsible-header">
        
           <div class="col s3">
               <i class="material-icons">expand_more</i>
               <a href="{{url_for('edit_profile', task_id=task._id)}}" class="waves-effect waves-light btn btn_small">Edit</a>
               <a class="waves-effect waves-light btn btn_small red">Delete</a>
               
           </div>
           <div class=" task_header col s9">
               <strong>{{task.player_name}} - {{task.county_name}}</strong>
           </div>
        
        </div>
        <div class="collapsible-body">
            <span>
                {{task.player_name}} - {{task.date_of_birth}} - {{task.player_history}} - {{task.county_name}}
            </span></div>
    </li>
    {% endfor %}
</ul>
    
{% endblock %}


<!--{{task.sport}}
            {{task.player_name}}
            {{task.player_age}}
        //-->