{% extends 'base.html' %}
{% block content %}
        
            
        
            
        
        
        
<ul class="collapsible" data-collapsible="expandable">
    {% for task in tasks %}
    <li>
        <div class="collapsible-header"><i class="material-icons">expand</i>
        <strong>{{task.club_county}} - {{task.county}}</strong>
        </div>
        <div class="collapsible-body">
            <span>
                {{task.player_name}} -{{task.date_of_birth}}
            </span></div>
    </li>
    {% endfor %}
</ul>
    
{% endblock %}


<!--{{task.sport}}
            {{task.player_name}}
            {{task.player_age}}
        //-->